<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>73913CA4-D5D2-4F78-B1AE-F63C25EFFC27.playgroundpage</string>
		<string>8764D4EB-BE62-49C5-BBC0-4B0BB9F55296.playgroundpage</string>
		<string>886ABCFC-9D36-469C-AAAC-3A98AB003CE2.playgroundpage</string>
		<string>A3663400-1937-4822-8E4D-B8EFD66862A6.playgroundpage</string>
	</array>
</dict>
</plist>
