<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>CB8186E2-E843-484D-93C6-07EBF2BEFD9C.playgroundpage</string>
		<string>30F915DC-10FF-4304-8840-5129B50EC68D.playgroundpage</string>
	</array>
</dict>
</plist>
